flows.json
[
    {
        "id": "6fb4aaa5bde27126",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a6398238.dbb24",
        "type": "tab",
        "label": "example create python env and install packages",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f1a2349b5827af57",
        "type": "gauth",
        "name": "nodered-gsheet@qubitera.iam.gserviceaccount.com"
    },
    {
        "id": "f0acbbb49f11a0fc",
        "type": "postgreSQLConfig",
        "name": "192.168.1.25",
        "host": "192.168.1.25",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "nodered",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "postgres",
        "passwordFieldType": "str"
    },
    {
        "id": "4e1c8e4f7a9f8cf2",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "10.10.10.10",
        "port": "27017",
        "dbName": "nodered",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "a12dbcae141f72e0",
        "type": "inject",
        "z": "6fb4aaa5bde27126",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 220,
        "wires": [
            [
                "552e046bee9f5fd6"
            ]
        ]
    },
    {
        "id": "552e046bee9f5fd6",
        "type": "debug",
        "z": "6fb4aaa5bde27126",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "fa7c96fef5ef82d6",
        "type": "inject",
        "z": "6fb4aaa5bde27126",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "from",
                "v": "nodered@jarbank.io",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "bab1eaa24b16fdaa"
            ]
        ]
    },
    {
        "id": "ce0227f34e19c33e",
        "type": "debug",
        "z": "6fb4aaa5bde27126",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "from",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "3011b6a0952e6ca4",
        "type": "debug",
        "z": "6fb4aaa5bde27126",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "d9948029c0c687db",
        "type": "inject",
        "z": "6fb4aaa5bde27126",
        "d": true,
        "name": "Check erogluozgur@gmail.com",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "criteria",
                "v": "[[\"FROM\",\"jobalerts-noreply@linkedin.com\"]]",
                "vt": "json"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "078ab4d828fefce0"
            ]
        ]
    },
    {
        "id": "d38f650cd1b01294",
        "type": "inject",
        "z": "6fb4aaa5bde27126",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "from",
                "v": "nodered@jarbank.io",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"name\":\"Anna\",\"age\":\"34\"}",
        "payloadType": "json",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "51a8c0a5e350c640"
            ]
        ]
    },
    {
        "id": "5514224e9ff30625",
        "type": "debug",
        "z": "6fb4aaa5bde27126",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 720,
        "wires": []
    },
    {
        "id": "844d92295b6a04b2",
        "type": "split",
        "z": "6fb4aaa5bde27126",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 530,
        "y": 540,
        "wires": [
            [
                "bab1eaa24b16fdaa",
                "3cd53d89b303a40f",
                "5514224e9ff30625"
            ]
        ]
    },
    {
        "id": "755bb1e11af9248b",
        "type": "http in",
        "z": "6fb4aaa5bde27126",
        "name": "start",
        "url": "/trigger",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 640,
        "wires": [
            [
                "bb50c1d45919855d",
                "10fad091f10371fc",
                "8f4f47a2269aa573",
                "16b3a2e387a8b9cd"
            ]
        ]
    },
    {
        "id": "10fad091f10371fc",
        "type": "http response",
        "z": "6fb4aaa5bde27126",
        "name": "http response",
        "statusCode": "200",
        "headers": {
            "xyz": "ttt"
        },
        "x": 280,
        "y": 640,
        "wires": [],
        "info": "werwer"
    },
    {
        "id": "3cd53d89b303a40f",
        "type": "switch",
        "z": "6fb4aaa5bde27126",
        "name": "",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "mercedes e200",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "mercedes e200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 540,
        "wires": [
            [
                "f8425a4749062b6f",
                "8a71b10668863482"
            ],
            [
                "39d53b40ce7678ba"
            ]
        ]
    },
    {
        "id": "f8425a4749062b6f",
        "type": "debug",
        "z": "6fb4aaa5bde27126",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 520,
        "wires": []
    },
    {
        "id": "39d53b40ce7678ba",
        "type": "debug",
        "z": "6fb4aaa5bde27126",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 600,
        "wires": []
    },
    {
        "id": "8a71b10668863482",
        "type": "file",
        "z": "6fb4aaa5bde27126",
        "name": "gsheet",
        "filename": "test/test.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1070,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "850c156438140411",
        "type": "function",
        "z": "6fb4aaa5bde27126",
        "name": "Convert to JSON",
        "func": "// Convert the simple date string to a JSON object\nmsg.payload = { time: msg.payload };\n\n// Return the modified message\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 880,
        "wires": [
            [
                "51a8c0a5e350c640",
                "0724b0e0a53debb1"
            ]
        ]
    },
    {
        "id": "bb50c1d45919855d",
        "type": "GSheet",
        "z": "6fb4aaa5bde27126",
        "creds": "f1a2349b5827af57",
        "method": "get",
        "action": "",
        "sheet": "1LJPOxtWYwGUCFm2nHxLmuKGAhnzL1xDAeogSpVwL_lE",
        "cells": "Sheet1!A1:C5",
        "flatten": false,
        "name": "nodered-test",
        "x": 350,
        "y": 540,
        "wires": [
            [
                "844d92295b6a04b2"
            ]
        ]
    },
    {
        "id": "bab1eaa24b16fdaa",
        "type": "e-mail",
        "z": "6fb4aaa5bde27126",
        "server": "smtp.sendgrid.net",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "erogluozgur@gmail.com",
        "dname": "Nodered",
        "x": 740,
        "y": 460,
        "wires": []
    },
    {
        "id": "078ab4d828fefce0",
        "type": "e-mail in",
        "z": "6fb4aaa5bde27126",
        "d": true,
        "name": "",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "autotls": "never",
        "port": "993",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "box": "INBOX",
        "disposition": "None",
        "criteria": "UNSEEN",
        "repeat": "300",
        "fetch": "trigger",
        "inputs": 1,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "552e046bee9f5fd6",
                "ce0227f34e19c33e",
                "3011b6a0952e6ca4"
            ]
        ]
    },
    {
        "id": "0724b0e0a53debb1",
        "type": "postgresql",
        "z": "6fb4aaa5bde27126",
        "name": "Phoenix PG",
        "query": "SELECT * FROM test;",
        "postgreSQLConfig": "484ec20fcbc9a766",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 850,
        "y": 920,
        "wires": [
            [
                "5514224e9ff30625"
            ]
        ]
    },
    {
        "id": "51a8c0a5e350c640",
        "type": "mongodb4",
        "z": "6fb4aaa5bde27126",
        "clientNode": "4e1c8e4f7a9f8cf2",
        "mode": "collection",
        "collection": "test",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "",
        "x": 840,
        "y": 840,
        "wires": [
            [
                "5514224e9ff30625"
            ]
        ]
    },
    {
        "id": "8f4f47a2269aa573",
        "type": "pythonshell in",
        "z": "6fb4aaa5bde27126",
        "name": "Local Python Code",
        "pyfile": "pipeline_python_code/helloworld.py",
        "virtualenv": "",
        "continuous": true,
        "stdInData": true,
        "x": 330,
        "y": 780,
        "wires": [
            [
                "5514224e9ff30625",
                "850c156438140411"
            ]
        ]
    },
    {
        "id": "16b3a2e387a8b9cd",
        "type": "debug",
        "z": "6fb4aaa5bde27126",
        "name": "trigger payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 980,
        "wires": []
    },
    {
        "id": "4eca86989fd4cb56",
        "type": "http in",
        "z": "6fb4aaa5bde27126",
        "name": "Create Git Repo",
        "url": "/createrepo",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 1200,
        "wires": [
            [
                "936330dca990c4c4",
                "6fd41d3990cb87a3",
                "8b7f71aaa45d97a5"
            ]
        ]
    },
    {
        "id": "936330dca990c4c4",
        "type": "http response",
        "z": "6fb4aaa5bde27126",
        "name": "http response",
        "statusCode": "200",
        "headers": {
            "xyz": "ttt"
        },
        "x": 480,
        "y": 1120,
        "wires": [],
        "info": "werwer"
    },
    {
        "id": "6fd41d3990cb87a3",
        "type": "debug",
        "z": "6fb4aaa5bde27126",
        "name": "trigger payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.body",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1300,
        "wires": []
    },
    {
        "id": "8b7f71aaa45d97a5",
        "type": "pythonshell in",
        "z": "6fb4aaa5bde27126",
        "name": "Local Python Code",
        "pyfile": "pipeline_python_code/getParam.py",
        "virtualenv": "pipeline_python_code/venv/",
        "continuous": false,
        "stdInData": false,
        "x": 490,
        "y": 1200,
        "wires": [
            [
                "5514224e9ff30625"
            ]
        ]
    },
    {
        "id": "f4319015.f829c",
        "type": "inject",
        "z": "a6398238.dbb24",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 820,
        "wires": [
            [
                "b8d5a5ee.27a048"
            ]
        ]
    },
    {
        "id": "ba14283e.921b28",
        "type": "file",
        "z": "a6398238.dbb24",
        "name": "example.py",
        "filename": "/data/example.py",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 530,
        "y": 820,
        "wires": [
            [
                "45fc3c1b.2cdf44"
            ]
        ]
    },
    {
        "id": "b8d5a5ee.27a048",
        "type": "template",
        "z": "a6398238.dbb24",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "python",
        "syntax": "plain",
        "template": "import sys\n\ndef absolute_value(num):\n\t\"\"\"This function returns the absolute\n\tvalue of the entered number\"\"\"\n\n\tif num >= 0:\n\t\treturn num\n\telse:\n\t\treturn -num\n\n# Output: 2\n#print(absolute_value(2))\n\nwhile True:\n    num = sys.stdin.readline() # read the stdin from the inject node\n    num = int(num)\n    print(absolute_value(num))",
        "output": "str",
        "x": 300,
        "y": 820,
        "wires": [
            [
                "ba14283e.921b28"
            ]
        ]
    },
    {
        "id": "13717224.4e8bfe",
        "type": "comment",
        "z": "a6398238.dbb24",
        "name": "create a python script file and save to disk",
        "info": "",
        "x": 340,
        "y": 760,
        "wires": []
    },
    {
        "id": "a41dee1f.ceba1",
        "type": "inject",
        "z": "a6398238.dbb24",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "58b5c2a.d8e9f3c"
            ]
        ]
    },
    {
        "id": "b5798004.7515c",
        "type": "file",
        "z": "a6398238.dbb24",
        "name": "",
        "filename": "/data/create_env.sh",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 530,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "58b5c2a.d8e9f3c",
        "type": "template",
        "z": "a6398238.dbb24",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "python",
        "syntax": "plain",
        "template": "#!/bin/bash \n\ncd /data\nls -l\npython3 -m venv envtest\nsource envtest/bin/activate\nls -l\nwhich python",
        "output": "str",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "b5798004.7515c"
            ]
        ]
    },
    {
        "id": "675e87af.f0a968",
        "type": "inject",
        "z": "a6398238.dbb24",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "7dd4be3e.84d4d"
            ]
        ]
    },
    {
        "id": "7dd4be3e.84d4d",
        "type": "exec",
        "z": "a6398238.dbb24",
        "command": "chmod u+x /data/create_env.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "make create_env.sh file executable",
        "x": 380,
        "y": 200,
        "wires": [
            [
                "62d946f1.440b28"
            ],
            [
                "62d946f1.440b28"
            ],
            [
                "62d946f1.440b28"
            ]
        ]
    },
    {
        "id": "62d946f1.440b28",
        "type": "debug",
        "z": "a6398238.dbb24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "bd5f6d44.e7d4b",
        "type": "inject",
        "z": "a6398238.dbb24",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 320,
        "wires": [
            [
                "3edc17c3.75cb18"
            ]
        ]
    },
    {
        "id": "3edc17c3.75cb18",
        "type": "exec",
        "z": "a6398238.dbb24",
        "command": "bash /data/create_env.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "execute create_env.sh",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "9b94a230.939e5"
            ],
            [
                "9b94a230.939e5"
            ],
            [
                "9b94a230.939e5"
            ]
        ]
    },
    {
        "id": "9b94a230.939e5",
        "type": "debug",
        "z": "a6398238.dbb24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "4e8765d8.507ddc",
        "type": "inject",
        "z": "a6398238.dbb24",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "61a0c56a.052f5c"
            ]
        ]
    },
    {
        "id": "61a0c56a.052f5c",
        "type": "exec",
        "z": "a6398238.dbb24",
        "command": "chmod u+x /data/install_packages.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "make install_packages.sh file executable",
        "x": 400,
        "y": 540,
        "wires": [
            [
                "13c2c87a.b73bc8"
            ],
            [
                "13c2c87a.b73bc8"
            ],
            [
                "13c2c87a.b73bc8"
            ]
        ]
    },
    {
        "id": "13c2c87a.b73bc8",
        "type": "debug",
        "z": "a6398238.dbb24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "e39cb324.19715",
        "type": "inject",
        "z": "a6398238.dbb24",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 680,
        "wires": [
            [
                "fbbbbe17.cfbef"
            ]
        ]
    },
    {
        "id": "fbbbbe17.cfbef",
        "type": "exec",
        "z": "a6398238.dbb24",
        "command": "bash /data/install_packages.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "execute /install_packages.sh",
        "x": 360,
        "y": 680,
        "wires": [
            [
                "70a58ad1.947204"
            ],
            [
                "70a58ad1.947204"
            ],
            [
                "70a58ad1.947204"
            ]
        ]
    },
    {
        "id": "70a58ad1.947204",
        "type": "debug",
        "z": "a6398238.dbb24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 680,
        "wires": []
    },
    {
        "id": "7e36e3ea.d2ee8c",
        "type": "comment",
        "z": "a6398238.dbb24",
        "name": "create bash file that creates and activates venv",
        "info": "In the template node we create a bash file that will create a virtual python environment and activate the environment.\n\n#!/bin/bash \n\ncd /data\nls -l\npython3 -m venv envtest\nsource envtest/bin/activate\nls -l\nwhich python",
        "x": 340,
        "y": 60,
        "wires": []
    },
    {
        "id": "10bf703d.477d3",
        "type": "comment",
        "z": "a6398238.dbb24",
        "name": "make the bash file executable",
        "info": "",
        "x": 280,
        "y": 140,
        "wires": []
    },
    {
        "id": "8ffba3c3.5413",
        "type": "comment",
        "z": "a6398238.dbb24",
        "name": "make the bash file executable",
        "info": "",
        "x": 300,
        "y": 480,
        "wires": []
    },
    {
        "id": "ffe32ec1.4f824",
        "type": "comment",
        "z": "a6398238.dbb24",
        "name": "execute the bash file",
        "info": "",
        "x": 250,
        "y": 260,
        "wires": []
    },
    {
        "id": "f0066900.4db1f8",
        "type": "inject",
        "z": "a6398238.dbb24",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 420,
        "wires": [
            [
                "34f6f7c4.23b168"
            ]
        ]
    },
    {
        "id": "255ca056.4e641",
        "type": "file",
        "z": "a6398238.dbb24",
        "name": "",
        "filename": "/data/install_packages.sh",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 610,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "34f6f7c4.23b168",
        "type": "template",
        "z": "a6398238.dbb24",
        "name": "file to install packages",
        "field": "payload",
        "fieldType": "msg",
        "format": "python",
        "syntax": "plain",
        "template": "#!/bin/bash \n\ncd /data\nsource envtest/bin/activate\nls -l\nwhich python\npip3 install sys",
        "output": "str",
        "x": 340,
        "y": 420,
        "wires": [
            [
                "255ca056.4e641"
            ]
        ]
    },
    {
        "id": "39f56651.847cca",
        "type": "comment",
        "z": "a6398238.dbb24",
        "name": "create bash file that installs packages",
        "info": "",
        "x": 270,
        "y": 380,
        "wires": []
    },
    {
        "id": "fa6a51ee.d9239",
        "type": "comment",
        "z": "a6398238.dbb24",
        "name": "execute the bash file to install packages",
        "info": "",
        "x": 330,
        "y": 620,
        "wires": []
    },
    {
        "id": "e757b049.aa745",
        "type": "debug",
        "z": "a6398238.dbb24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 680,
        "y": 920,
        "wires": []
    },
    {
        "id": "9b520682.5cbbe8",
        "type": "pythonshell in",
        "z": "a6398238.dbb24",
        "name": "example",
        "pyfile": "/data/example.py",
        "virtualenv": "/data/envtest",
        "continuous": true,
        "stdInData": true,
        "x": 400,
        "y": 920,
        "wires": [
            [
                "e757b049.aa745"
            ]
        ]
    },
    {
        "id": "4bd2821f.13aaac",
        "type": "inject",
        "z": "a6398238.dbb24",
        "name": "inject number",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 130,
        "y": 920,
        "wires": [
            [
                "9b520682.5cbbe8"
            ]
        ]
    },
    {
        "id": "317f7a8.2b1ed86",
        "type": "comment",
        "z": "a6398238.dbb24",
        "name": "inject a number to the python script and display it in the debug window",
        "info": "",
        "x": 430,
        "y": 880,
        "wires": []
    },
    {
        "id": "45fc3c1b.2cdf44",
        "type": "debug",
        "z": "a6398238.dbb24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 690,
        "y": 820,
        "wires": []
    }
]